<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modelNamingConventions" type="ModelNamingConventions.Config.ModelNamingConventionsSection, ModelNamingConventions" />
  </configSections>
  <modelNamingConventions tableCasing="Pascal" columnCasing="Hungarian" tableCasingDefault="ScreamingSnake" columnCasingDefault="Snake">
  </modelNamingConventions>
</configuration>